{%extends "layout.html"%}
{%block content%}
<!DOCTYPE>
<body style="background-color: lightgreen;">
<html>
<div class="about"><br>

	<h3>Contacts</h3>
	<p>
	<b>FB ACCOUNT : </b><a href="https://www.facebook.com/lesterrducs07" target="_blank">Lester M Ducil</a><br>
	<b>GITHUB : </b><a href="https://github.com/lesterrducs07"target="_blank">Lesterrducs07</a><br>
	<b>GMAIL : </b> lesterrducs07@gmail.com<br><br><br>
	<img src="https://png.pngtree.com/png-clipart/20210423/ourlarge/pngtree-light-blue-blouse-man-cartoon-character-avatar-png-image_3232167.jpg"alt="Description of the image" width="100" height="100" border = "0">
		<br><br>
		This is a test website again. Created by Lester M Ducil
		
	</p>
</div>
</body>
</html>
{%endblock%}